{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación para adopciones</title>


    <!--Bootstrap-->
    <link rel="stylesheet" href="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' %}">

</head>
<body>
<header>

</header>

{% block content %}
<!--Contenido variable-->






{% endblock %} 

<footer>

</footer>

</body>

<!--BootstrapJS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</html>