{% extends 'base.html' %}

{% load static %}

{% block content %}


<!-- ====== Buscador Mascotas Section ======= -->
    <section id="buscador" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Encuentra tu mascota ideal</h2>
        </div>

        <div class="row">
          <div class="col">
            <div class="card card-body">
              <form  method="get">
                {{filter.form}}
                <button class="btn btn-primary" type ="submit">
                Buscar</button>
              </form>
            </div>
          </div>
        </div>
        

        <div class="col-md 9">
          <div class="row ">
            {% for mascota in mascotas %}
              <div class="col-md-4">
                <div class="card my-3">
        
                  <img class="image-tumbail"
                  src="{{mascota.imagen.url}}" alt="Card image cap">
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>




{% endblock %}