{% extends 'base.html' %}

{% load static %}

{% block content %}

<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up"
        data-aos-delay="200">
        <h1>Preparate para conocer a tu nuevo mejor amigo!</h1>
        <h2>La forma mas facíl de adoptar</h2>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="#faq" class="btn-get-started scrollto">Empieza aquí</a>
          <a href="https//youtu.be/Zjwz86QCSEc" class="glightbox btn-watch-video"><i
              class="bi bi-play-circle"></i><span>Watch Video</span></a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
        <img src="{% static '/img/Perro.png' %}" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->


<!-- ======= Como Funciona Section ======= -->
<section id="faq" class="faq section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>¿COMO FUNCIONA?</h2>
      <p>¿Tienes algúna duda? !Deja de dar vueltas persiguiendo tu cola, aquí te la resolvemos!:</p>
    </div>
    <section class="mb-3">
      <div class="container bloque_funciona">
        <div class="contenido_como d-xl-flex flex-row">
          <div class="izquierda d-xl-flex flex-column col-xl-4">
            <div class="caja h-50">
              <h4 class="py-1">¿Como utilizo el buscador?</h4>
              <p class="py-1">
                Lo primero es dirigirte al buscador que esta en la parte superior de la web y elegir los términos de
                busqueda que se adapten a las cracteristicas mas importantes en tu nuevo mejor amigo. Así encontrarás el
                mas indicado para tí..
              </p>
            </div>
            <div class="caja h-50">
              <h4 class="py-1">¿Como ver los datos detallados de cada mascota?</h4>
              <p class="py-1">
                Tan sencillo como eso, elije la mascota a la que quieras dar un hogar y tu compañia, situate encima de
                su imagen y pulsa en el boton “mas info / adoptar”. Una vez en la ficha puedes ver los datos detallados
                de cada mascota.
              </p>
            </div>
          </div>
          <div class="centro d-xl-flex flex-column col-xl-4">
            <img src="https://i.ibb.co/9t0YY1M/dog-and-cat.png" alt="" class="d-block mx-auto">
          </div>
          <div class="derecha d-xl-flex flex-column col-xl-4 mx-2">
            <div class="caja h-50">
              <h4 class="py-1">¿Que hacer cuando ya he elegido la mascota que quiero adoptar?</h4>
              <p class="py-1">
                En la ficha de los datos detallados de cada mascota aparecerá los datos de contacto de su Hogar de Paso,
                puedes comunicarte con ellos y manifestar tu interes de adoptar.
              </p>
            </div>
            <div class="caja h-50">
              <h4 class="py-1">¿Que requsitos se necesita para adoptar una mascota en PetAdoption?</h4>
              <p class="py-1">
                Debes demostrar que tienes las condiciones para cuidar de tu nuevo mejor amigo y solventar todo lo que
                necesite para estar en buenas condiciones, tambien debes estar dispuesto a recibir visitas por parte
                del Hogar de Paso para que verifique que estás cumpliendo con los cuidados necesarios para la mascota.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="caja-contactar text-center">
      <p>Si aún tienes dudas, escribenos y te responderemos lo antes posible</p>
      <a class="btn btn-outline-primary rounded-pill scrollto mx-auto py-3 px-5"
        href="{% url 'contacto' %}">Contacto</a>
    </div>

  </div>
</section><!-- End Frequently Asked Questions Section -->
</main><!-- End #main -->

{% endblock %}