{% extends 'base.html' %}

{% load static %}

{% block content %}

<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
        <h1>Preparate para conocer a tu nuevo mejor amigo!</h1>
        <h2>La forma mas facíl de adoptar</h2>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a  href="#faq" class="btn-get-started scrollto">Empieza aquí</a>
          <a href="https//youtu.be/Zjwz86QCSEc" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
        <img src="{% static '/img/Perro.png' %}" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->


 
    
  <!-- ======= Como Funciona Section ======= -->
  <section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>¿COMO FUNCIONA?</h2>
        <p>¿Tienes algúna duda? !Deja de dar vueltas persiguiendo tu cola, aquí te la resolvemos!:</p>
      </div>

      <div class="faq-list">
        <div class="align-content-center">
          <ul>
            <li class = "paws" data-aos="fade-up" data-aos-delay="100" style = "list-style:none">
              <i class="fa fa-paw" aria-hidden="true"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-1" class="collapsed"> ¿Como utilizo el buscador? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Solo tienes que filtrar las mascotas según las cracteristicas mas importantes de tu nuevo mejor amigo. Así encontrarás el mas indicado para tí.
                </p>
              </div>
            </li>

            <li class ="paws" data-aos="fade-up" data-aos-delay="200" style = "list-style:none">
              <i class="fa fa-paw" aria-hidden="true"></i><a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed"> ¿Que hacer cuando ya he elegido la mascota que quiero adoptar? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Haz click en la imagen de la mascota que elegiste y aparecerá una ventana con sus caracteristicas y los datos de contacto de su Hogar de Paso, puedes comunicarte con ellos y manifestar tu interes de adoptar.
                </p>
              </div>
            </li>

            <li class = "paws" data-aos="fade-up" data-aos-delay="300"style = "list-style:none">
              <i class="fa fa-paw" aria-hidden="true"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed"> ¿Que requsitos se necesita para adoptar una mascota en PetAdoption? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Debes demostrar que tienes las condiciones para cuidar de tu nuevo mejor amigo y solventar todo lo que necesite para estar en buenas condiciones, tambien debes estar dispuesto a recibir visitas por parte del Hogar de Paso para que verifique que estás cumpliendo con los cuidados necesarios para la mascota.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section><!-- End Frequently Asked Questions Section -->
  </main><!-- End #main -->

{% endblock %}

