{% extends 'base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block content %}


<!-- ====== Buscador Mascotas Section ======= -->
    <section id="buscador" class="about">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="section-title">
            <h2>Encuentra tu mascota ideal</h2>
          </div>
        </div>
        
        
    
      <!-- ====== Filtro Mascotas ======= -->
        
        <div class="row align-items-center mb-5">
          <form class= "align-items-center text-center" method="get">
            <div class="form-inline  ">
              <div class="form-group">
                <div class="col-auto">
                    {{ filter.form.especieMascota.label_tag }}
                </div>
                <div class="col-auto">
                  {% render_field filter.form.especieMascota class="form-control form-control-sm" %}
                </div>
              </div>
              <div class="form-group">
                <div class="col-auto">
                  {{ filter.form.tamanoMascota.label_tag }}
                </div>
                <div class="col-auto">
                  {% render_field filter.form.tamanoMascota class="form-control form-control-sm" %}
                </div>
              </div>
              <div class="form-group">
                <div class="col-auto">
                  {{ filter.form.sexo.label_tag }}
                </div>
                <div class="col-auto">
                  {% render_field filter.form.sexo class="form-control form-control-sm" %}
                </div>
              </div>
              <div class="form-group">
                <div class="col-auto">
                  {{ filter.form.HogarPaso__ciudad.label_tag }}
                </div>
                <div class="col-auto">
                  {% render_field filter.form.HogarPaso__ciudad class="form-control form-control-sm" %}
                </div>             
              </div>
              <div class="col-auto"> 
                <button class="btn btn-sm buscar" type ="submit">Buscar</button>
              </div>
            </div>
          </form>
        </div>
        
        <!--RESULTADOS DE BUSQUEDA-->

        <div class="col-md 9">
          <div class="row ">

           {% for mascota in mascotas %}
              <div class="col-md-4">
                <div class="card my-3 rounded">
                 
                  <img class="image-tumbail rounded"
                  src="{{mascota.imagen.url}}" alt="Card image cap">
                  
                  <div class="text-center align-middle mt-md-2">
                      <h5 class = "card-title mb-0"><i class="fa fa-paw" aria-hidden="true"></i> {{mascota.nombreMascota}}  <i class="fa fa-paw" aria-hidden="true"></i></h5>
                  </div>
                    
                  <a href = "{% url 'detalleMascota' mascota.idMascota mascota.HogarPaso.idHogarPaso %}" class="btn btn-outline-dark btn-sm m-1">Mas info / Adoptar</a>
                
                </div>
              </div>
           {% endfor %} 

          </div>
        </div>
      </div>
    <!--MODAL-->



    </section>

    
         
{% endblock %}